.MuiOutlinedInput-root {
    width: 366px;
    background-color: white;
    border: 1px solid #374952;
    border-radius: 8px !important;
    padding: 1px;
    margin-top: 10px;
}

.MuiInputLabel-root {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.MuiOutlinedInput-input:focus {
    outline: none !important;
}

.MuiOutlinedInput-input:hover {
    outline: none !important;
}

.MuiOutlinedInput-input:active {
    outline: none !important;
    outline-color: white !important;
}