.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.gap-sm {
    gap: 20px;
}

.gap-xs {
    gap: 10px;
}

.flex-grow {
    flex-grow: 1;
}

.align-start {
    align-self: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}