.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.gap-sm {
    gap: 20px;
}

.gap-xs {
    gap: 10px;
}

.flex-grow {
    flex-grow: 1;
}

.align-start {
    align-self: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-bar {
    flex: 0 0 220px;
}

.flex-bar:first-child {
    flex: 0 0 100px;
}

.flex-bar:nth-child(2) {
    flex: 0 0 250px;
}

.flex-bar:nth-child(3) {
    flex: 0 0 300px;
}

.flex-bar:nth-child(5) {
    flex: 0 0 140px;
}

.flex-bar:last-child {
    flex: 0 0 160px;
}