.border-red {
    border: 2px solid #FF4D4D;
    border-radius: 8px;
    color: #FF4D4D;
    font-weight: 600;
    font-size: 14px;
}

.border-blue {
    border: 2px solid #5197B5;
    border-radius: 8px;
    color: #5197B5;
    font-weight: 600;
    font-size: 14px;
}

.border-green {
    border: 2px solid #4EC06E;
    border-radius: 8px;
    color: #4EC06E;
    font-weight: 600;
    font-size: 14px;
}

.border-dark {
    border: 1px solid #374952;
    border-radius: 8px;
    color: #323232;
}

.box-shadow {
    border: 0;
    border-radius: 8px;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
}

.border-round-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}