.btn-pink {
    font-family: inherit;
    background-color: rgba(218, 1, 117, 0.35);
    color: white;
    width: 200px;
    border-radius: 35px;
    border: 0;
    height: 40px;
    cursor: pointer;
}

.btn-white {
    font-family: inherit;
    color: #DA0175;
    background-color: #fff;
    border: 2px solid #DA0175;
    width: 150px;
    border-radius: 35px;
    font-weight: 600;
    height: 40px;
    cursor: pointer;
}

.btn-white-large {
    font-family: inherit;
    color: #DA0175;
    background-color: #fff;
    border: 2px solid #DA0175;
    width: 250px;
    border-radius: 35px;
    font-weight: 600;
    height: 40px;
    cursor: pointer;
}

.btn-pink-bright {
    font-family: inherit;
    background-color: rgba(218, 1, 117, 1);
    color: white;
    width: 200px;
    border-radius: 35px;
    border: 0;
    height: 40px;
    cursor: pointer;
}

.btn-white-client {
    font-family: inherit;
    color: #DA0175;
    background-color: #fff;
    border: 2px solid #DA0175;
    width: 200px;
    border-radius: 35px;
    font-weight: 600;
    height: 40px;
    cursor: pointer;
}

.btn-pink-client {
    font-family: inherit;
    background-color: rgba(218, 1, 117, 0.35);
    color: white;
    width: 250px;
    border-radius: 35px;
    border: 0;
    height: 40px;
    cursor: pointer;
}

.btn-pink-bright-client {
    font-family: inherit;
    background-color: rgba(218, 1, 117, 1);
    color: white;
    width: 250px;
    border-radius: 35px;
    border: 0;
    height: 40px;
    cursor: pointer;
}

.enabled {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}