.card {
    width: 500px;
    height: 535px;
}

.card-client {
    width: 500px;
    height: 410px;
}

.card-padding {
    padding: 10px;
}

.card-padding-lg {
    padding: 60px 100px;
}

.pad-sm {
    padding: 6px;
}

.pad-md {
    padding: 0px 12px;
}

.pad-client-details {
    padding: 8px;
}

.pad-vertical {
    padding: 30px 0px 40px 0px;
}