.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 15px;
}

.form-borderless {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    left: 50%;
    transform: translateX(-10%);
    background-color: white;
    border-radius: 15px;
    padding: 45px 61px;
}

.form-borderless-charges {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    left: 50%;
    transform: translateX(-5%);
    background-color: white;
    border-radius: 15px;
    padding: 45px 60px 45px 100px;
}

.input-charges {
    height: 30px;
    width: 50%;
    background-color: white;
    border: 1px solid #374952;
    border-radius: 8px;
}

.input-charges-large {
    height: 60px;
    width: 95%;
    background-color: white;
    border: 1px solid #374952;
    border-radius: 8px;
}

.input-charges-line {
    height: 40px;
    width: 100%;
    background-color: white;
    border: 1px solid #374952;
    border-radius: 8px;
}

.input-charges-line-small {
    height: 40px;
    width: 180px;
    background-color: white;
    border: 1px solid #374952;
    border-radius: 8px;
}

.input-select {
    height: 60px;
    width: 100%;
    background-color: white;
    border: 1px solid #374952;
    border-radius: 8px;
}