.mb-sm {
    margin-bottom: 5px;
}

.mb-md {
    margin-bottom: 10px;
}

.mb-lg {
    margin-bottom: 15px;
}

.mb-xl {
    margin-bottom: 50px;
}

.mb-xxl {
    margin-bottom: 250px;
}

.mt-sm {
    margin-top: 5px;
}

.mt-md {
    margin-top: 10px;
}

.mt-lg {
    margin-top: 15px;
}

.mt-xl {
    margin-top: 50px;
}

.mt-xxl {
    margin-top: 200px;
}

.mx-sm {
    margin: 0px 5px;
}

.mx-md {
    margin: 0px 10px;
}

.mx-lg {
    margin: 0px 15px;
}

.my-sm {
    margin: 5px 0px;
}

.my-md {
    margin: 10px 0px;
}

.my-lg {
    margin: 15px 0px;
}

.ml-sm {
    margin-left: 10px;
}

.ml-md {
    margin-left: 20px;
}

.ml-lg {
    margin-left: 50px;
}

.ml-xl {
    margin-left: 85px;
}

.ml-xxl {
    margin-left: 90px;
}

.mr-sm {
    margin-right: 10px;
}

.mr-md {
    margin-right: 20px;
}

.mr-lg {
    margin-right: 50px;
}

.mr-xl {
    margin-right: 85px;
}

.mr-xxl {
    margin-right: 90px;
}