.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    border-radius: 15px;
    position: relative;
}

.modal-close-icon {
    width: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}