.font-xxl {
    font-size: 32px;
}

.font-xl {
    font-size: 22px;
}

.font-lg {
    font-size: 18px;
}

.font-md {
    font-size: 16px;
}

.font-sm {
    font-size: 12px;
}

.font-date {
    font-size: 12px;
    font-weight: bold;
}

.font-md-bold {
    font-size: 16px;
    font-weight: 600;
}

.font-regular {
    font-weight: 400;
}

input {
    color: #4C4C4C;
}

::placeholder {
    color: #A5A5A5;
}

.white {
    color: white;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pink {
    color: #DA0175;
    cursor: pointer;
    text-decoration: underline;
}

.green {
    color: #4EC06E;
}

.blue {
    color: #5197B5;
}

.red {
    color: #FF4D4D;
}

.gray {
    color: #4C4C4C;
}