.font-lg {
    font-size: 18px;
}

.font-md {
    font-size: 16px;
}

.font-sm {
    font-size: 12px;
}

.font-md-bold {
    font-size: 16px;
    font-weight: 600;
}

::placeholder {
    color: #A5A5A5;
}

.white {
    color: white;
}