.background-dark {
    background-color: #263238;
}

.sidebar {
    height: 100vh;
    min-width: 350px;
}

.full-width {
    width: 100%;
}

a {
    all: unset;
    height: auto;
}

a:hover {
    background-color: #374952;
    cursor: pointer;
}

.logo {
    width: 150px;
}

.active {
    background-color: #374952;
}