.list-box {
    width: 1200px;
}

.client-box {
    padding: 10px 0;
}

.list-padding {
    padding: 0 30px;
}

.list-padding:last-child {
    margin-bottom: 80px;
}

.flex-basis {
    flex: 0 0 250px;
}

.flex-basis:first-child {
    flex: 0 0 300px;
}

.flex-basis:last-child {
    flex: 0 0 80px;
}